<div class="page page-detail bg-full min-full" id="pagedetail" style="background-image:url('../images/detail-bg.jpg');">
	<p style="height:20px;margin:0;padding:0;"></p>
	<!--显示答题按钮-->
	<div class="begin-answer-btn" ng-if="showbeginbtn">
		<p></p>
		<div ng-click="begin_answer()">开始答题</div>
		<p></p>
	</div>



	<!--答题部分-->

	<div class="container">
		<div class="time-and-num">

			<p class="time">
				<span>剩余时间</span>
				<span>10分钟10秒</span>
			</p>
			<div></div>
			<p class="num">
				<span>总计:10题</span>
				<span>已答:5题</span>
			</p>
		</div>



		<div class="question-content">



			<p class="title">3.关于19大的最新学习</p>
			<ul>

				<li>
					<P>看的快点快点开看书看书看得开看的快点快点开开导开导打开快点快点快点肯定大口大口快点快点开</P>
					<P></P>
				</li>
			</ul>
		</div>
	</div>






</div>