<div class="paper-list-page">

    <img src="../images/index-top.jpg"  class="full">


    <div>

        <p class="th1-title"><span>题库列表</span></p>

        <ul class="paper-list">
            <li ng-repeat="paper in papers">
                <span class="content">{{paper.title}}</span>
                <span ng-class="paper.status ==2 ? 'status finish':'status unfinish'" ng-click="detail(paper.paper_id,paper.canAnswer)">{{paper.statusText}}</span>
            </li>
        </ul>
    </div>
</div>