/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/access.log
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
dump.rdb
.env
/app/Http/Controllers/TestController.php
public/my.txt
public/data.php
/error.log
jsonlab-1.5
/database
public/uploads/
public/logs
test.php
public/python-queue.pid
app/python/queue.py
public/vendors/
app/python/python-queue.pid
public/MP_verify_CjMqeULNVydelcq8.txt
app/Http/Controllers/showdoc_api.sh
storage/
app/python/pidfile.pid
app/python/__pycache__/functions.cpython-35.pyc
app/python/__pycache__/matlabserver.cpython-35.pyc
app/python/matlabserver.pyc
public/code/
public/git.pull.php
public/demo.php
public/node_modules/
public/package-lock.json
*.asv
public/qr/
public/gitupdate.php
composer-setup.php
app/Console/Commands/zhangweixi.php
app/bat/queue-num.txt
