/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Http/Controllers/TestController.php
public/my.txt
public/data.php
/error.log
jsonlab-1.5
/database
public/uploads/
public/logs
test.php
public/python-queue.pid
app/python/queue.py
public/vendors/
app/python/python-queue.pid
test.txt
app/Http/Controllers/showdoc_api.sh
app/python/matlabsrc/
storage/
app/python/pidfile.pid
app/python/__pycache__/functions.cpython-35.pyc
app/python/__pycache__/matlabserver.cpython-35.pyc
app/python/matlabserver.pyc
