<div>

    <table class="table table-bordered court-table">
        <tr>
            <td style="width:50px;"></td>
            <td ng-repeat="t in courtTable.line" class="line-{{$index}}" style="line-height:30px;">{{t}}</td>
        </tr>


        <tr ng-repeat="line in courtTable.table" ng-init="lineIndex = $index">
            <td class="list-{{lineIndex}}">{{courtTable.list[lineIndex]}}</td>
            <td ng-repeat="td in line" ng-init="listIndex = $index" class="td{{lineIndex}}{{listIndex}}" data-line="{{lineIndex}}" data-list="{{listIndex}}" ng-mouseover="tdhover(listIndex,lineIndex)">
                <p><input  ng-model="td.b"></p>
                <p><input  ng-model="td.l"></p>
            </td>
        </tr>


        <tr>
            <td style="width:50px;"></td>
            <td ng-repeat="t in courtTable.line" class="line-{{$index}}" style="line-height:30px;">{{t}}</td>
        </tr>

    </table>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
            <button class="btn btn-danger" type="button" ng-click="save_court_config();">保&nbsp;存</button>
        </div>
    </div>

</div>

<style>
    .court-table p
    {
        margin:0;
        padding:0;
        display: inline-block;
        vertical-align: middle;
    }


    .court-table td
    {
        padding:0 !important;
        vertical-align: middle !important;
        text-align: center;
    }

    .court-table input{
        display: inline-block;
        width:100%;
        border:none;
        text-align: center;
    }

    .court-table td p:nth-child(2) input{
        border-top:1px solid #f7f7f7;
    }

    .current{
        background:#555;
        color:#fff;
    }

    .current input{
        color:blue;

    }
</style>