<div class="col-md-12 col-sm-12 col-xs-12" ng-init="get_match_files()">
    <div class="x_panel">
        <div class="x_title">
            <h2>比赛文件</h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <p class="btn btn-info">结果文件</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered jambo_table bulk_action">
                    <tr  ng-repeat="file in matchFiles.resultFile">
                        <td>{{file.name}}</td>
                        <td>{{file.lineNum}}行</td>
                        <td><a target="_blank" href="{{file.url}}" class="btn-info btn btn-xs">打开</a></td>
                        <td><a href="#match/compass-map/{{file.url1}}">曲线图</a></td>

                    </tr>
                </table>
            </div>

            <p class="btn btn-danger">原始文件</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">脚</th>
                        <th class="column-title">类型</th>
                        <th class="column-title">状态</th>
                        <th class="column-title">编码</th>
                        <th class="column-title">ID</th>
                        <th class="column-title">结束</th>
                        <th class="column-title">操作</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr  ng-repeat="file in matchFiles.sourceFile">
                        <td>{{file.foot}}</td>
                        <td>{{file.type}}</td>
                        <td>{{file.status}}</td>
                        <td>{{file.check_code}}</td>
                        <td>{{file.match_source_id}}</td>
                        <td>{{file.is_finish == 1?"是":''}}</td>
                        <td><a target="_blank" href="/storage/app/{{file.data}}" class="btn-info btn btn-xs">打开</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="../build/js/custom.min.js"></script>
