html{
	font-size:16px;
}

.guding{
	width:100vw;
	height:100vh;
	position: fixed;
	top:0;
	left:0;
	overflow: hidden;
}


html,body{

	padding:0;
	margin:0;	
}


body > a{
	display: none;
}

.hide{
	display: none !important;
}


.bg-full{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.full{
	width:100%;
	display: block;
}

.min-full{
	min-height:100vh;
	width:100%;
	display: block;
	overflow: hidden;
}

.th1-title{

	font-size:1.2rem;
	text-indent: 20px;
	font-weight: bold;

}

.paper-list-page{

	.paper-list{
		padding-left:20px;
		padding-right:20px;
		li{
			display: flex;
			padding:10px 0;
			border-bottom:1px solid #b8b6b5;
			.content{
				flex:1;
				color: #ff5f1e;
			}

			.status{
				text-align: center;
				padding:5px 7px;
				border-radius: 2px;
				background: #ff6c29;
				color:#fff;
				font-size:.8rem;
			}
		}

	}
}

.page-detail{

	.container{
		padding:0 20px;

	}


	//时间和次数
	.time-and-num{
		border:1px solid #666;
		border-radius: 5px;
		margin:auto;


		overflow: hidden;
		display: flex;
		background: #9C3B3B;
		color:#fff;


		>div{
			width:2px;
			background:#fff;
		}
		>p{
			width:50%;
			display: block;
			float: left;
			flex: 1;
		}

		span{
			display: block;
			text-align: center;
			line-height:1.7;
		}
	}




	//问题内容
	.question-content{

		border:2px solid #9C3B3B;
		margin-top:20px;
		padding:5px;
		border-radius: 5px;

		.title{
			color:#9C3B3B;
			font-weight: bold;
		}

		ul{
			list-style:none;
			margin:0;
			padding:0;
		}
	}


}

.begin-answer-btn{
	display: flex;
	flex-direction:column;
	height:100vh;
	width:100vw;
	background:rgba(0,0,0,.5);
	.guding;

	p{
		flex:1;
	}

	div{

		height:50vw;
		width:50vw;
		margin:auto;
		line-height:50vw;
		border:30px solid #965E26;
		background:#801C1C;
		color:#fff;
		text-align: center;
		border-radius: 50%;
		font-weight: bold;
		font-size:1.5rem;
	}
}



