html {
  font-size: 16px;
}
.guding {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
}
body > a {
  display: none;
}
.hide {
  display: none !important;
}
.bg-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.full {
  width: 100%;
  display: block;
}
.min-full {
  min-height: 100vh;
  width: 100%;
  display: block;
  overflow: hidden;
}
.th1-title {
  font-size: 1.2rem;
  text-indent: 20px;
  font-weight: bold;
}
.paper-list-page .paper-list {
  padding-left: 20px;
  padding-right: 20px;
}
.paper-list-page .paper-list li {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #b8b6b5;
}
.paper-list-page .paper-list li .content {
  flex: 1;
  color: #9C3B3B;
}
.paper-list-page .paper-list li .status {
  text-align: center;
  padding: 5px 7px;
  border-radius: 2px;
  color: #fff;
  font-size: .8rem;
}
.paper-list-page .paper-list li .unfinish {
  background: #9C3B3B;
}
.paper-list-page .paper-list li .finish {
  background: #999;
}
.time-and-num {
  border: 1px solid #666;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  display: flex;
  background: #9C3B3B;
  color: #fff;
}
.time-and-num > div {
  width: 2px;
  background: #fff;
}
.time-and-num > p {
  width: 50%;
  display: block;
  float: left;
  flex: 1;
}
.time-and-num span {
  display: block;
  text-align: center;
  line-height: 1.7;
}
.page-detail .container {
  padding: 0 20px;
}
.page-detail .question-content {
  border: 2px solid #9C3B3B;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
.page-detail .question-content .title {
  color: #9C3B3B;
  font-weight: bold;
}
.page-detail .question-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-detail .question-content ul li {
  display: flex;
  border: 1px solid #999;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.page-detail .question-content ul li p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.page-detail .question-content ul li .checkbox {
  text-align: center;
  width: 30px;
  vertical-align: middle;
  display: flex;
}
.page-detail .question-content ul li .checkbox span {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: auto;
}
.page-detail .question-content ul li .checkbox .result-status {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px auto;
}
.page-detail .question-content ul li .checkbox .right {
  background-image: url('../images/yes.png');
}
.page-detail .question-content ul li .checkbox .wrong {
  background-image: url('../images/no.png');
}
.page-detail .question-content ul li .answer {
  line-height: 1.5;
  flex: 1;
}
.page-detail .question-content ul li.checked {
  background: #30baad;
}
.page-detail .check-btn {
  line-height: 2.5;
  text-align: center;
  border: 1px solid #999;
  border-radius: 30px;
  background: #ccc;
  color: #999;
}
.page-detail .right-answer {
  text-align: center;
  margin-top: 20px;
  color: #9C3B3B;
}
.page-detail .check-btn.active {
  background: #30baad;
  border: 1px solid #30baad;
  color: #fff;
}
.zhezhao {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.zhezhao p {
  flex: 1;
}
.begin-answer-btn div {
  height: 50vw;
  width: 50vw;
  margin: auto;
  line-height: 50vw;
  border: 30px solid rgba(60, 148, 76, 0.84);
  background: #9C3B3B;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5rem;
}
.finish-answer > div {
  width: 75vw;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  margin: auto;
}
.finish-answer .text-info {
  text-align: center;
  display: flex;
  border-radius: 5px;
  background: rgba(19, 117, 37, 0.84);
  color: #fff;
  margin-bottom: 30px;
}
.finish-answer .text-info p {
  flex: 1;
}
.finish-answer .text-info span {
  width: 1px;
  background: #fff;
}
.finish-answer .title {
  text-align: center;
  color: #801C1C;
}
.finish-answer .btn {
  background: #801C1C;
  color: #fff;
  text-align: center;
  line-height: 3;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}
.paper-result {
  padding: 20px;
}
.paper-result .result-answer {
  margin-top: 40px;
  line-height: 1.6;
}
.paper-result .result-answer .question-box {
  border: 1px solid #9C3B3B;
  margin-bottom: 20px;
  border-radius: 5px;
}
.paper-result .result-answer .title {
  color: #9C3B3B;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}
.paper-result .result-answer .title .quest-title {
  flex: 1;
}
.paper-result .result-answer .title .status {
  margin-left: 10px;
  width: 30px;
  display: inline-block;
  background-size: 18px auto;
  background-position: center;
  background-repeat: no-repeat;
}
.paper-result .result-answer .title .status.right {
  background-image: url('../images/yes.png');
}
.paper-result .result-answer .title .status.wrong {
  background-image: url('../images/no.png');
}
.paper-result .result-answer .answer-box {
  padding: 10px;
  margin: 10px;
  background: #efefef;
  border-radius: 5px;
}
.paper-result .result-answer .answer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.paper-result .result-answer .answer-box .right {
  color: #9C3B3B;
}
.paper-result .result-answer .answer-box .wrong {
  color: #777;
}
.paper-result .result-answer .useranswer {
  overflow: hidden;
}
.paper-result .result-answer .useranswer p {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 5px 0;
  color: #30baad;
}
.paper-result .result-answer .useranswer p span {
  overflow: hidden;
}
.paper-result .view-btn {
  background: #9C3B3B;
  color: #fff;
  line-height: 3;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
}
.sort-page {
  padding: 20px;
}
.sort-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-page li {
  display: flex;
  padding: 5px 0;
  line-height: 30px;
}
.sort-page li span {
  display: inline-block;
  color: #9C3B3B;
}
.sort-page li .head img {
  border-radius: 50%;
}
.sort-page li .flex {
  flex: 1;
  margin-left: 10px;
}
.sort-page li .time {
  margin-right: 20px;
}
.sort-page li img {
  height: 30px;
  vertical-align: middle;
}
