html{
	font-size:16px;
}

.guding{
	width:100vw;
	height:100vh;
	position: fixed;
	top:0;
	left:0;
	overflow: hidden;
}


html,body{

	padding:0;
	margin:0;	
}


body > a{
	display: none;
}

.hide{
	display: none !important;
}


.bg-full{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.full{
	width:100%;
	display: block;
}

.min-full{
	min-height:100vh;
	width:100%;
	display: block;
	overflow: hidden;
}

.th1-title{

	font-size:1.2rem;
	text-indent: 20px;
	font-weight: bold;

}

.paper-list-page{

	.paper-list{
		padding-left:20px;
		padding-right:20px;
		li{
			display: flex;
			padding:10px 0;
			border-bottom:1px solid #b8b6b5;
			.content{
				flex:1;
				color: @anhong;
			}

			.status{
				text-align: center;
				padding:5px 7px;
				border-radius: 2px;
				color:#fff;
				font-size:.8rem;
			}
			
			
			.unfinish{
				background: @anhong;
			}

			.finish{
				background:#999;
			}
		}

	}
}

//时间和次数
.time-and-num{
	border:1px solid #666;
	border-radius: 5px;
	margin:auto;


	overflow: hidden;
	display: flex;
	background: #9C3B3B;
	color:#fff;


	>div{
		width:2px;
		background:#fff;
	}
	>p{
		width:50%;
		display: block;
		float: left;
		flex: 1;
	}

	span{
		display: block;
		text-align: center;
		line-height:1.7;
	}
}


.page-detail{

	.container{
		padding:0 20px;

	}
	//问题内容
	.question-content{

		border:2px solid #9C3B3B;
		margin-top:20px;
		padding:5px;
		border-radius: 5px;

		.title{
			color:#9C3B3B;
			font-weight: bold;
		}

		ul{
			list-style:none;
			margin:0;
			padding:0;

			li{
				display: flex;
				border:1px solid #999;
				margin-top:10px;
				padding-top:5px;
				padding-bottom:5px;
				border-radius: 3px;

				p{
					margin-top:5px;
					margin-bottom:5px;
				}
				.checkbox{
					text-align: center;
					width:30px;
					//background:red;
					vertical-align: middle;
					display: flex;
					span{
						width:20px;
						height:20px;
						vertical-align: middle;
						margin:auto;
					}

					.result-status{

						background-position: center;
						background-repeat: no-repeat;
						background-size: 16px auto;
					}

					.right{

						background-image:url('../images/yes.png');
					}

					.wrong{
						background-image:url('../images/no.png');
					}
				}

				.answer{
					line-height:1.5;
					flex: 1;
				}

				&.checked{

					background: #30baad;
				}
			}
		}
	}


	.check-btn{

		line-height:2.5;
		text-align: center;
		border:1px solid #999;
		border-radius: 30px;
		background:#ccc;
		color:#999;

	}

	.right-answer{

		text-align: center;
		margin-top:20px;
		color:#9C3B3B;
	}

	.check-btn.active{

		background:#30baad;
		border:1px solid #30baad;
		color:#fff;
	}


}

.zhezhao{
	display: flex;
	flex-direction:column;
	height:100vh;
	width:100vw;
	background: rgba(59, 59, 68, 0.7);
	.guding;
	p{
		flex:1;
	}

}

.begin-answer-btn{
	div{

		height:50vw;
		width:50vw;
		margin:auto;
		line-height:50vw;
		border:30px solid #965E26;
		background:#801C1C;
		color:#fff;
		text-align: center;
		border-radius: 50%;
		font-weight: bold;
		font-size:1.5rem;
	}
}


.finish-answer{

	>div{
		width:75vw;
		padding:20px;
		background:#fff;
		border-radius: 5px;
		margin:auto;
	}

	.text-info{
		text-align: center;
		display: flex;

		border-radius: 5px;
		background:rgba(19, 117, 37, 0.84);
		color:#fff;
		margin-bottom:30px;
		p{
			flex: 1;
		}
		span{
			width:1px;
			background:#fff;
		}
	}

	.title{

		text-align: center;
		color:#801C1C;

	}

	.btn{
		background:#801C1C;
		color:#fff;
		text-align: center;
		line-height:3;
		border-radius: 5px;
		display: block;
		margin:10px auto;
	}
}

@anhong:#9C3B3B;

.paper-result{

	padding:20px;

	.result-answer{
		margin-top:40px;
		line-height:1.6;
		.question-box{

			border:1px solid #999;
			margin-bottom:10px;
		}	
		.title{

			color:@anhong;
			display: flex;
			margin-top:0;
			margin-bottom:0;
			padding-left:5px;
			.quest-title{
				flex:1;

			}
			.status{
				margin-left:10px;
				
				width:30px;
				display: inline-block;
				background-size:18px auto;
				background-position: center;
				background-repeat: no-repeat;
				background-color:rgba(184, 187, 184, 0.84);
			}

			.status.right{
				background-image:url('../images/yes.png');

			}

			.status.wrong{
				
				background-image:url('../images/no.png');				
			}
		}

		// p:nth-child(2n){

		// 	background:rgba(19,117,37,.84);
		// }
		// p:nth-child(2n+1){
		// 	background:#DA1818;
		// }



	}

	.view-btn{
		background:@anhong;
		color:#fff;
		line-height:3;
		text-align: center;
		margin-top:40px;
		border-radius: 5px;
	}
}

.sort-page{

	padding:20px;

	ul{
		list-style: none;
		padding:0;
		margin:0;
	}

	li{
		
		display: flex;
		padding:5px 0;
		line-height:30px;
		span{
			display: inline-block;
			color:@anhong;
		}

		.head img{
			border-radius: 50%;

		}
		.flex{
			flex:1;
			margin-left:10px;
		}

		.time{
			margin-right:20px;
		}
		img{
			height:30px;
			vertical-align: middle;
		}


	}
}